@model IEnumerable<LMS.Web.Models.QuestionAnswer>

@{
    ViewData["Title"] = "Index";
}
 
<h1 style="text-align:center;color:blue"> HTML Exam</h1>
<h4 style="color:red">There is 10 Questions each question conatins(1 point)</h4>
<p style="color:green">You must get 8 points to pass the test!(Less than 8 points you will be fail)</p>

<form asp-area="Online" asp-controller="Results" asp-action="ShowAnswer" method="post">
@foreach (var item in Model)
{
    var rdoName = "q" + item.QuestionAnswerId;
    <table class="table">
   <tr>
    <td>@item.QuestionAnswerId ) @item.Question ?</td>
        </tr>
           
        <tr>
            <td>
                <p>
              <input id="option1" type="radio" name="@rdoName" class="rb" value="@item.Option1" />@item.Option1
                </p>
                <p>
                <input id="option2" type="radio" name="@rdoName" class="rb" value="@item.Option2" />@item.Option2
                </p>
                <p>
                <input id="optio3" type="radio" name="@rdoName" class="rb" value="@item.Option3" />@item.Option3
                </p>
                <p>
                <input id="option4" type="radio" name="@rdoName" class="rb" value="@item.Option4" />@item.Option4
                </p>
            </td> 
        </tr>
    </table>
}
  <button class="btn btn-primary" value="Submit">Submit</button>
</form>
